# yii console command
/_protected/yii
/_protected/yii.bat
/_protected/init
/_protected/init.bat
/_protected/requirements.php
# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/_protected/vendor


# testing 
/_protected/tests

# runtime files
/_protected/backend/runtime
/_protected/console/runtime
/_protected/frontend/runtime
/assets
/backend/assets
/uploads




# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
